<xml>
  <navigation type="customtabs" backgroundColor="#eeeeee">
    <items>
      <item icon="clipboard_past.png" text="BookStore" />
      <item icon="112-group.png" text="Follow Us" />
      <item icon="notepad_2.png" text="Notes" />
      <item icon="info.png" text="About" />
    </items>
  </navigation>
  <targetplatform simulator="iPhone">iPhone</targetplatform>
  <template price="199.99" topadtype="none" bottomadtype="none" globalNavigationBarStyle="2" globalNavigationBarColor="" globalLogo="" id="iPadBookStore" scaleWebPagesToBaseResolution="false" />
  <prop id="appname" title="App Name">grcPublication</prop>
  <prop id="tab1text" title="Tab1 Text">BookStore</prop>
  <prop id="tab1icon" title="Tab1 Icon">clipboard_past.png</prop>
  <prop id="tab2text" title="Tab2 Text">Follow Us</prop>
  <prop id="tab2icon" title="Tab2 Icon">112-group.png</prop>
  <prop id="tab3text" title="Tab3 Text">Notes</prop>
  <prop id="tab3icon" title="Tab3 Icon">notepad_2.png</prop>
  <prop id="tab4text" title="Tab4 Text">About</prop>
  <prop id="tab4icon" title="Tab4 Icon">info.png</prop>
  <page id="index.html" type="imgmenu" transition="" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" quizcategory="" kind="html" />
  <page id="tab3.html" type="notes" transition="none" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" title="" logo="" module="SCNotes" kind="native" />
  <page id="SubMenu1.html" type="webkitsubmenu" kind="html" />
  <page id="SubMenu2.html" type="webkitsubmenu" kind="html" />
  <page id="Details1.html" type="webkitdetails" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" kind="html" />
  <page id="Details2.html" type="webkitdetails" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" kind="html" />
  <page id="Details3.html" type="webkitdetails" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" kind="html" />
  <page id="Details4.html" type="webkitdetails" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" kind="html" />
  <planname>Basic</planname>
  <appstorelink />
  <description />
  <keywords />
  <primarycat>0</primarycat>
  <secondarycat>0</secondarycat>
  <external>0</external>
  <page id="index.html" type="html" transition="" slidepageid="business.html" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" kind="html" />
  <shineeffect>false</shineeffect>
  <quizrandomize nquestions="3">false</quizrandomize>
  <admobpublisher id="" />
  <sentpageid id="question1.html" />
  <paypalappid id="" />
  <fbapp apikey="" secret="" />
  <androidAppLicensing enabled="false" publicKey="" />
  <android installLocation="auto" />
  <page id="book1.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>1Iago-A-Novel.pdf</pdffile>
  </page>
  <page id="book2.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>2Excerpt-Sweet-Hush-The-novel-Disney.pdf</pdffile>
  </page>
  <page id="book3.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>3Photography-1-Art-of-Photography.pdf</pdffile>
  </page>
  <page id="book4.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>4TOP-TEN-BESTSELLER-HOT-NEW-SUSPENSE-NOVEL.pdf</pdffile>
  </page>
  <page id="book5.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>5Secrets-A-novel-by-Robin-Jones-Gunn.pdf</pdffile>
  </page>
  <page id="book6.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>6Tandem-a-novel-by-Tracey-Bateman.pdf</pdffile>
  </page>
  <page id="book7.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>7Snakes-a-Novel.pdf</pdffile>
  </page>
  <page id="book8.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>8From-Lisa-See.pdf</pdffile>
  </page>
  <page id="book9.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>9Carte-Blanche-The-new-James.pdf</pdffile>
  </page>
  <page id="book10.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>10Dangerous-Waters-An-Adventure-on-Titanic.pdf</pdffile>
  </page>
  <page id="book11.html" type="pdfreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <pdffile>11ECHOES-OF-BETRAYAL.pdf</pdffile>
  </page>
  <page id="ebook1.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>1burroughs-beasts-of-tarzan.epub</epubfile>
  </page>
  <page id="ebook2.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>2burroughs-outlaw-of-torn.epub</epubfile>
  </page>
  <page id="ebook3.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>3burroughs-return-of-the-mucker.epub</epubfile>
  </page>
  <page id="ebook4.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>4cather-o-pioneers.epub</epubfile>
  </page>
  <page id="ebook5.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>5defoe-moll-flanders.epub</epubfile>
  </page>
  <page id="ebook6.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>7london-sea-wolf.epub</epubfile>
  </page>
  <page id="ebook7.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>7london-sea-wolf.epub</epubfile>
  </page>
  <page id="ebook8.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>8tolstoy-war-and-peace.epub</epubfile>
  </page>
  <page id="ebook9.html" type="epubreader" transition="none" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="native">
    <epubfile>9twain-personal-recollections-of-joan-of-arc.epub</epubfile>
  </page>
  <page id="tab4.html" type="html" transition="" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="html" />
  <page id="tab2.html" type="imgarea" transition="" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" kind="html" />
  <page id="facebook.html" type="fbfanpage" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" kind="native" />
  <page id="twitter.html" type="inAppBrowser" transition="" slidepageid="" slidetransition="" hasreviews="" hassend="" hasfields="no" topad="" bottomad="" topadtype="" bottomadtype="" dynamicdata="false" jsonurl="" title="" targeturl="http://twitter.com/" kind="native" />
  <page id="mail.html" type="form" transition="" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" quizcategory="" kind="html" />
  <page id="rss.html" type="rss" transition="" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" quizcategory="" kind="html" />
  <page id="title_book.html" type="html" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" kind="html" />
  <page id="Overview1.html" type="webkitmenu" transition="" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" quizcategory="" kind="html" />
  <page id="Page1_b1.html" type="html" transition="" slidepageid="Page2_b1.html" slidetransition="curl" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" kind="html" />
  <page id="Page2_b1.html" type="quizresult" transition="" slidepageid="Page3_b1.html" slidetransition="curl" hasreviews="no" hassend="no" hasfields="no" topad="no" bottomad="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hasreviewhtmlkey="no" title="" logo="" kind="html" />
  <page id="Page3_b1.html" type="html" transition="" slidepageid="Page4_b1.html" slidetransition="curl" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" quizcategory="" kind="html" />
  <page id="Page4_b1.html" type="html" transition="" slidepageid="Page5_b1.html" slidetransition="curl" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" quizcategory="" kind="html" />
  <page id="Page5_b1.html" type="html" transition="" slidepageid="Page6_b1.html" slidetransition="curl" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" quizcategory="" kind="html" />
  <page id="Page6_b1.html" type="html" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" kind="html" />
  <page id="content.html" type="webkitmenu" transition="" slidepageid="" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="none" bottomadtype="none" dynamicdata="false" jsonurl="" hidebottombaratpush="yes" hasreviewhtmlkey="no" topad="no" bottomad="no" quizcategory="" kind="html" />
  <file id="appStyles.xml" newsfile="yes" />
  <page id="native1.html" type="native_page" kind="native" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="inherited" dynamicdata="false" jsonurl="" hidebottombaratpush="no" />
  <page id="mobile1.html" type="mobile" kind="html" transition="" slidepageid="" slidetransition="slide" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="inherited" dynamicdata="false" jsonurl="" hidebottombaratpush="no" />
  <file id="style.css" newsfile="yes" />
  <file id="112-group.png" newsfile="yes" />
  <file id="1burroughs-beasts-of-tarzan.epub" newsfile="yes" />
  <file id="1eBook.png" newsfile="yes" />
  <file id="1epubburroughs-beasts-of-tarzan-bookcover.jpg" newsfile="yes" />
  <file id="2book.png" newsfile="yes" />
  <file id="2burroughs-outlaw-of-torn.epub" newsfile="yes" />
  <file id="2eBook.png" newsfile="yes" />
  <file id="3burroughs-return-of-the-mucker.epub" newsfile="yes" />
  <file id="3eBook.png" newsfile="yes" />
  <file id="3x3_grid.png" newsfile="yes" />
  <file id="4cather-o-pioneers.epub" newsfile="yes" />
  <file id="4eBook.png" newsfile="yes" />
  <file id="5book.png" newsfile="yes" />
  <file id="5defoe-moll-flanders.epub" newsfile="yes" />
  <file id="5eBook.png" newsfile="yes" />
  <file id="5Secrets-A-novel-by-Robin-Jones-Gunn.pdf" newsfile="yes" />
  <file id="6book.png" newsfile="yes" />
  <file id="6eBook.png" newsfile="yes" />
  <file id="6haggard-allan-quatermain.epub" newsfile="yes" />
  <file id="6Tandem-a-novel-by-Tracey-Bateman.pdf" newsfile="yes" />
  <file id="7book.png" newsfile="yes" />
  <file id="7eBook.png" newsfile="yes" />
  <file id="7london-sea-wolf.epub" newsfile="yes" />
  <file id="7Snakes-a-Novel.pdf" newsfile="yes" />
  <file id="9eBook.png" newsfile="yes" />
  <file id="9twain-personal-recollections-of-joan-of-arc.epub" newsfile="yes" />
  <file id="bigicon.png" newsfile="yes" />
  <file id="book2.html" newsfile="yes" />
  <file id="book5.html" newsfile="yes" />
  <file id="book6.html" newsfile="yes" />
  <file id="book7.html" newsfile="yes" />
  <file id="clipboard_past.png" newsfile="yes" />
  <file id="content.html" newsfile="yes" />
  <file id="Default-568h@2x.png" newsfile="yes" />
  <file id="Default-667h@2x.png" newsfile="yes" />
  <file id="Default-736h@3x.png" newsfile="yes" />
  <file id="Default.png" newsfile="yes" />
  <file id="Default@2x.png" newsfile="yes" />
  <file id="Default~ipad.png" newsfile="yes" />
  <file id="ebook1.html" newsfile="yes" />
  <file id="ebook2.html" newsfile="yes" />
  <file id="ebook3.html" newsfile="yes" />
  <file id="ebook4.html" newsfile="yes" />
  <file id="ebook5.html" newsfile="yes" />
  <file id="ebook6.html" newsfile="yes" />
  <file id="ebook7.html" newsfile="yes" />
  <file id="ebook9.html" newsfile="yes" />
  <file id="facebook.html" newsfile="yes" />
  <file id="facebook.png" newsfile="yes" />
  <file id="footer.png" newsfile="yes" />
  <file id="footer_ipad.png" newsfile="yes" />
  <file id="header.png" newsfile="yes" />
  <file id="header_ipad.png" newsfile="yes" />
  <file id="icon-72.png" newsfile="yes" />
  <file id="icon.png" newsfile="yes" />
  <file id="info.png" newsfile="yes" />
  <file id="iPadrssheader.png" newsfile="yes" />
  <file id="iPad_bk2.png" newsfile="yes" />
  <file id="listArrow.png" newsfile="yes" />
  <file id="listArrowSel.png" newsfile="yes" />
  <file id="Localizable.strings" newsfile="yes" />
  <file id="logo.jpg" newsfile="yes" />
  <file id="logo.png" newsfile="yes" />
  <file id="mail.html" newsfile="yes" />
  <file id="mail.png" newsfile="yes" />
  <file id="mobile1.html" newsfile="yes" />
  <file id="native1.html" newsfile="yes" />
  <file id="notepad.png" newsfile="yes" />
  <file id="notepad_2.png" newsfile="yes" />
  <file id="null.png" newsfile="yes" />
  <file id="Overview1.html" newsfile="yes" />
  <file id="Page1_b1.html" newsfile="yes" />
  <file id="Page2_b1.html" newsfile="yes" />
  <file id="Page3_b1.html" newsfile="yes" />
  <file id="Page4_b1.html" newsfile="yes" />
  <file id="Page5_b1.html" newsfile="yes" />
  <file id="Page6_b1.html" newsfile="yes" />
  <file id="rss.html" newsfile="yes" />
  <file id="rss.png" newsfile="yes" />
  <file id="rssreader.js" newsfile="yes" />
  <file id="tab1.html" newsfile="yes" />
  <file id="tab2.html" newsfile="yes" />
  <file id="tab3.html" newsfile="yes" />
  <file id="tab3.xml" newsfile="yes" />
  <file id="tab4.html" newsfile="yes" />
  <file id="title.jpg" newsfile="yes" />
  <file id="title_book.html" newsfile="yes" />
  <file id="toolbar.png" newsfile="yes" />
  <file id="toplogo.png" newsfile="yes" />
  <file id="twitter.html" newsfile="yes" />
  <file id="twitter.png" newsfile="yes" />
  <file id="webkitmenuicon.png" newsfile="yes" />
  <file id="wood_ipad.jpg" newsfile="yes" />
</xml>