  body{background-image:url(iPad_quiz_bg.jpg);background-repeat:repeat;margin:0px;padding:0px;width:100%;height:100%;font-family:STHeitiTC-Light, Century Gothic;font-size:14px;color:#000000;-webkit-tap-highlight-color:;direction:;line-height:;text-align:; margin-bottom: 30px !important;}
a{text-decoration:none;color:;font-family:STHeitiTC-Light, Century Gothic; outline:none;border:none;}
a img{border:0px;}
h1{color:#4e3418;font-size:18px;font-weight:bold;}
h2{font-size: 12pt;color: #000000;}
p{padding:0px;margin:0px;}
   /*quizcssaddition*/  .quizquestionimgcontainer{position:relative; top:-60px; left:3px; z-index:-1;width:300px;height: 280px; text-align: center;    background-repeat:no-repeat;    }
 .ipadquestionimgcontainter{margin: 0 auto;position:relative; top:-40px;  z-index:-1;width:689px; height:571px; text-align: center; background-repeat:no-repeat;  }
 .questionmessage{position:relative; top:20px; left:50px; bottom:20px; width:200px; text-align: center; color:#6d3d1f;font-family:STHeitiTC-Light, Century Gothic; font-size:18px;line-height:26px; }
 .ipadquestionmessage{padding-top: 140px; padding-left: 40px; padding-right:50px; color: rgb(109, 61, 31); font-family: STHeitiTC-Light, 'Century Gothic'; font-size: 16px;line-height:26px;  }
.quizanswerstable{width:310px;position:relative;    top:-75px;     left:8px;     overflow-y: scroll;}
.ipadquizanswerstable{ margin-right:auto; margin-left:auto;position:relative; top:-75px;  overflow-y: scroll;}
 .quizansweritemcontainer{overflow: hidden;        position:relative;        width:294px;        height:52px;        left:4px;        top:16px;        bottom:16px;    font-color:#000000;        display:block;background-repeat:no-repeat;line-height:50px;        text-align:center;       }
    .ipadquizansweritemcontainer{overflow: hidden;        position:relative;        width:688px;        height:64px;        left:4px;        top:16px;        bottom:16px;    font-color:#000000;        display:block;background-repeat:no-repeat;line-height:50px;        text-align:center;     }
      .quizansweritembackground{      color:#ffffff;      width:inherit;      text-align:center;      font-family:STHeitiTC-Light, Century Gothic;       font-size:18px;      font-weight:100;      padding-top:6px;      bottom:8px;      padding-left:5px;      left:0px;      z-index:0;      }
            .quizscore{    width:310px;     color:#fff;     margin-left:10px;    font-family: 'Century Gothic',STHeitiTC-Light;    }
        .iPadquizscore{    width:100%;    color:#fff;     margin-left:10px;    font-family: 'Century Gothic',STHeitiTC-Light;    }
 .ipadanswerdetail{margin:0 auto;margin-top:10%;min-height:200px;width:80%;background-color:#ffffff; border:3px solid #874914;opacity:0.7; -webkit-border-radius: 20px;-moz-border-radius: 20px;}
/*largebuttonmenucssaddition*/   .largeButtonMenuImgContaineriPad{min-width:225px;        width:30%;        min-height:136px;         height:28%;        background-repeat:no-repeat;    }
     .largeButtonMenuImageiPad{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; padding: 0px;        min-width:225px;        width:30%;    }
     .largeButtonMenuItemBgiPad{      min-width:225px;      width:30%;      text-align:center;      font-size:18px;      font-family:STHeitiTC-Light, Tahoma;      font-weight:100;    }
        img.largebuttonmenucenteriPad{        margin-left: auto;    margin-right: auto;    margin-top: 15px;}
 .largeButtonMenuImgContainer{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;  min-width:150px;  width:30%;  min-height:120px;  height:28%;  background-repeat:no-repeat;  padding-bottom:5px; }
     .largeButtonMenuImage{  min-width:150px;              width:30%;              padding: 0px;    }
     .largeButtonMenuItemBg{      min-width:150px;              width:30%;              text-align:center;              color:#000000;              font-size:18px;              font-family:STHeitiTC-Light, Tahoma;              font-weight:100;    }
    img.largebuttonmenucenter{       margin-left: auto;    margin-right: auto;   margin-top: 15px; }
/*stripesmenupagecssaddition*/.stripesmenulistcontainer{text-align:left;width:100%;        }
       .stripesmenulistcontainer ul{    font-family:STHeitiTC-Light, Century Gothic;    text-align:left;    list-style:none;    margin:0px;    padding:0px;    margin-top:10px;}
.stripesmenulistcontainer ul li{line-height: 35px;background: rgb(51, 51, 51);background: rgba(51, 51, 51, 0.6);margin-bottom:10px;}
.stripesmenulistcontainer ul li a{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; margin:0; display:block; font-size: 16px; font-weight:100; text-decoration:none; color:#fff;}
.stripesmenulistcontainer ul li a img{ vertical-align:middle; margin-left:15px; margin-top:5px; margin-right:10px;}
/*buttonmenupagecssaddition*/             .buttonmenuitemcontainer{        width:291px;        height:56px;    color:#000000;        display:block;       }
        .buttonmenuitembackground{      width:150px;      text-align:left;      color:#000000;      font-size:18px;      font-family:Tahoma;      font-weight:100;      padding-left:20px;      line-height:56px;      }
    .buttonmenuitemcontainer a{        -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;        }
/*webkitcssaddition*/.detailspanel{-webkit-border-top-right-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;border:solid 1px #aaa;padding:20px;background-color:#ffffff;}
li > a[selected], li > a:active{background-color: blue !important;    background-repeat: no-repeat !important;    background-position: right center !important;    color: #FFFFFF !important;    background-image: url(listArrowSel.png) !important;}
li > a[selected="progress"]{background-repeat: no-repeat !important;    background-position: right center !important;background-image: url(loading.gif) !important;}
body > .toolbar{    box-sizing: border-box;    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;    border-bottom: 1px solid #2d3642;    border-top: 1px solid #6d84a2;    padding: 0 10px 10px 10px;    height: 45px;background-color: #6d84a2;background-image: url(toolbar.png);background-repeat: repeat-x;}
body > div.toolbar{ background-image:url(logo.png), url(toolbar.png); background-position:top right, top left; background-repeat:no-repeat, repeat-x; }
.toolbar > h1{    position: absolute;    overflow: hidden;    left: 50%;    margin: 1px 0 0 -75px;    padding-top: 10px;    height: 45px;    font-size: 20px;    width: 150px;    font-weight: bold;    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;    text-align: center;    text-overflow: ellipsis;    white-space: nowrap;    color: #FFFFFF;}
body > .WebKitPanel{box-sizing: border-box;    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;    padding: 10px;  -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;  }
.WebKitPanel > ul{    position: relative;    margin: 0 0 20px 0;    padding: 0;   background: #FFFFFF;    -webkit-border-radius: 10px;    -moz-border-radius: 10px;    text-align: center;    font-size: 16px;margin:5px 0 15px 0; padding:0; list-style:none; -webkit-border-radius:0; border-width:0; background-color:transparent;}
.WebKitPanel > ul li{    position: relative;    min-height: 42px;    border-bottom: 1px solid #999999;   -webkit-border-radius: 0;    -moz-border-radius: 0;    text-align: right;}
.WebKitPanel > ul li:last-child{    border-bottom: none !important;}
#rsspage span{    color: black;}
.WebKitPanel > ul > li{ margin:0; padding:0; border-width:0; }
.WebKitPanel > ul > li a{ text-align:left; padding:11px 0 9px 10px; background:url(listArrow.png) center right no-repeat; display:block; text-decoration:none; overflow:hidden; text-overflow:ellipsis; color:#000; font-weight:bold; font-size:17px; }
.WebKitPanel > ul > li a{ margin:0; border:1px solid #aaa; border-bottom-width:0 !important; margin-top:-1px; background-color:#fff; }
.WebKitPanel > ul > li:first-child a{ -webkit-border-top-right-radius:10px; -webkit-border-top-left-radius:10px; }
.WebKitPanel > ul > li:last-child a{ -webkit-border-bottom-right-radius:10px; -webkit-border-bottom-left-radius:10px; border-bottom-width:1px !important; }
.WebKitPanel > ul > li a img{ vertical-align:middle; margin-left:-4px; margin-right:4px;}
.iconmenutitle{color:#000000;font-size:14px;}

.container {
  margin: auto;
  width: 100%;
}
.login {
  position: relative;
  margin: 30px auto 10px auto;
  padding: 20px 20px 20px;
  width: 80%;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px rgb(45, 43, 43);
  background:  #10A0B0;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
  text-align: center;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 89%;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}
input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

#footerimage {
	margin: 0px;
	padding: 7px 0px 0px 0px ;
	width: 100%;
	height: 20px;
	background:url(bg_foot.png);
	font-size: 10px;
	font-weight: normal;
	line-height: 20px;
	text-shadow: 1px 1px #000;
	color: #fff;
	position: fixed;
	bottom: 0px;
}
/*.lang_switch {
	float: right;
  	width: 35px;
  	height: 35px;
  	background: #ededed url(arabic-icon.png) no-repeat 9px center;
  	border: solid 1px #10A0B0;
  	-webkit-border-radius: 10em;
  	-moz-border-radius: 10em;
  	border-radius: 10em;
  	-webkit-transition: all .5s;
  	-moz-transition: all .5s;
  	transition: all .5s;
  	margin: -37px 10px 0px 0px;
}*/

.lang_switch {
	float: right;
  	width: 35px;
  	height: 35px;
  	margin: -37px 10px 0px 0px;
	background: url(arabic-icon.png) no-repeat 9px center;
	border-left: 1px solid #ccc;
}
.lang_switch img {	
 	text-align: center;
 
}